*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F7F5FB;
    color: #333;
    font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}
.encabezado{
    grid-area: header;
    background-color: #599ec0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border: 2px solid rgb(191, 160, 235);
    border-radius: 10px;
    height: 100%;
}
.header-izquierda{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Logo-header{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: auto;
}
.Logo-header img{
    width: 80px;
    height: auto;
}
h2{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-derecha{
    display: flex;
    align-items: center;
    gap: 20px;
}
.usuario{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn:hover{
    padding: 10px 15px;
    background-color: #37BAE1;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}
.sidebar{
    width:260px;
    background:#fff;
    box-shadow:0 0 15px rgba(0,0,0,.08);
}
.menu{
    list-style:none;
    margin:0;
    padding:15px;
}
.menu li{
    margin-bottom:8px;
}
.menu a,
.submenu-btn{
    width:100%;
    padding:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:none;
    background:none;
    cursor:pointer;
    text-decoration:none;
    color:#333;
    border-radius:10px;
    font-size:16px;
}
.menu a:hover,
.submenu-btn:hover{
    background:#37BAE1;
    color:white;
}
.submenu-items{
    list-style:none;
    padding-left:18px;
    max-height:0;
    overflow:hidden;
    transition:.4s;
}
.submenu-items li a{
    padding:12px;
    font-size:15px;
}
.submenu.abierto .submenu-items{
    max-height:300px;
}
.flecha{
    transition:.3s;
}
.submenu.abierto .flecha{
    transform:rotate(180deg);
}
.contenido{
    grid-area: contenido;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
}
.panel{
    display: grid;
    grid-template-columns:250px 1fr;
    grid-template-rows:80px 1fr;
    height: 100vh;


    grid-template-areas: 
    "header header" 
    "menu contenido";     
}
     